<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>



<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employee_path %> |
<%= link_to 'Destroy', employee_path(@employee),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
