<p>
  <strong>Name:</strong>
  <%= @departament.name %>
</p>



<%= link_to 'Edit', edit_departament_path(@departament) %> |
<%= link_to 'Back', departaments_path %> |
<%= link_to 'Destroy', departament_path(@departament),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
